div.block {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding: 20px;
    border-radius: 5px;
    background: #fcfcee;
    box-shadow: 0 0 10px 3px rgb(224, 224, 224);
    text-align: center;
}

div.block .title {
    padding: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 17px;
}

div.block .title h2,
div.block .title p,
div.block .title hr {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

div.block .title p a {
    text-decoration: none;
    color: rgb(116, 116, 255)
}

div.block .title hr {
    width: 100%;
    outline: none;
    /* color: rgb(54, 54, 54); */
}

div.block .form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

div.block .form .myinput {
    width: 100%;
}

div.block button {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    background-color: #fbceb1;
    padding: 14px 16px 14px 16px;
    color: #49423d;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
}

div.block button:hover {
    background-color: #fbceb1;
    color: #fafafa;
}

@media screen and (max-width: 500px) {
    div.block {
        width: 80%;
    }
}